@import url("https://fonts.googleapis.com/css?family=Dosis:600,700,800&display=swap");
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');

// $text: #262626;
$text: #dcdde1;
$grey: #a3b0be;
// $background: #c8d6e5;
$background: #262626;
// $primary: #0097e6;
$primary: rgba(0, 0, 0, 0.3);

* {
  color: $text;
  font-family: Dosis, sans-serif;
}

hr {
  border: $text solid 1px;
  border-radius: 5px;
}

html,
body {
  margin: 0;
  background-color: $background;
  height: 100%;
  width: 100%;
}

#app {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: space-between;
}

router-view {
  width: 100%;
  height: 100%;
  order: 1;
}

.mobile {
  display: none;
}

.footer {
  min-height: 30vh;
  background-color: $primary;
  order: 2;
  padding: 14px calc(10% + 10px);
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    margin: 0;
    display: inline;
    font-weight: 800;
    font-family: Dosis,
      sans-serif;
  }

  .footer-section {
    max-width: 30%;
    width: 30%;
    text-align: justify;

    .footer-left {
      order: 0;
    }

    .footer-center {
      order: 1;
    }

    .footer-right {
      order: 2;
    }

    .footer-title {
      font-size: 20px;
      min-width: 5px;
      font-weight: 700;
    }

    .footer-bio {
      font-size: 16px;
      min-width: 5px;
    }
  }

  span {
    display: block;
  }
}

.navbar {
  padding: 14px calc(10% + 10px);
  order: 0;
  background-color: $primary;

  .vl {
    border-left: 2px solid $text;
    border-radius: 15%;
    max-width: 3px;
    height: 40px;
    margin: 0 5px;
  }

  #navbar-title {
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
  }

  .navbar-left {
    float: left;
  }

  .navbar-right {
    float: right;
  }

  .navbar-content-button {
    padding: 10px;
    margin: 0 5px 0 5px;
    transition: 0.2s;
    text-decoration: none;
  }

  .navbar-content-button:hover {
    background-color: $grey;
    cursor: pointer;
  }

  .navbar-link-active {
    background-color: $grey;
  }
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none
  }

  .mobile {
    display: unset;
  }

  .navbar {
    margin: 0;
    padding: 5px;

    .navbar-mobile {
      a {
        padding: 5px;
        display: block;
        transition: 0.2s;
      }
    }
  }
}