@import url("https://fonts.googleapis.com/css?family=Dosis:600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quantico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:600,700,800,900,1000&display=swap");

$text: #1e1b18;
$grey: #a3b0be;
$background: #fff;
$darkbackground: #dddddd;
$primary: #0058e6;

* {
  color: $text;
  font-family: Roboto, sans-serif;
}

html,
body {
  margin: 0 auto;
  background-color: $background;
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

#app {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

// COLOR CLASSES

.text-light {
  color: $background;
}

.text-dark {
  color: $text;
}

.text-prim {
  color: $primary;
}
