@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Space+Mono:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://unpkg.com/aos@next/dist/aos.css");

//legacy
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import "variables.scss";

/* Title Grand 400 */
.title-grand {
    font-family: Archivo Black, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 130%;
    /* or 94px */
}

/* Title 400 */
.title {
    font-family: Archivo Black, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 130%;
    /* or 62px */
}

/* Title Petite 700 */
.title-petit {
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.62%;
    /* identical to box height, or 34px */
}

/* Text Grand 400 */
.text-grand {
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 140.62%;
    /* identical to box height, or 51px */
}

/* Header 700 */
.header {
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140.62%;
    /* identical to box height, or 20px */
}

/* Header Petite 400 */
.header-petite {
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */
}

.max-width {
    max-width: $max-width-desktop;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    .max-width {
        max-width: $max-width-mobile;
    }

    .title {
        font-size: 50px;
    }
}
