@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url("https://unpkg.com/aos@next/dist/aos.css");

@import "variables.scss";

* {
    color: $text;
    font-family: Roboto, sans-serif;
}

html,
body {
    margin: 0 auto;
    background-color: $background;
    height: 100%;
    width: 100%;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

#app {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

// COLOR CLASSES

.text-light {
    color: $background;
}

.text-dark {
    color: $text;
}

.text-prim {
    color: $primary;
}
