$text: #000000;
$offblack: #111213;
$darkgray: #717273;
$grey: #a3b0be;
$mint: #00dba5;
$lightgray: #efefef;
$primary: #0058e6;
$title-font: "Roboto", sans-serif;
$max-width-desktop: 60%;
$max-width-mobile: 75%;
